---
BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -3
SortIncludes: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBinaryOperators: NonAssignment
DerivePointerAlignment: false
